[submodule "topcoat"]
	path = topcoat
	url = https://github.com/cloudsoko/topcoat.git
	branch = frust
[submodule "frust-ui"]
	path = frust-ui
	url = https://github.com/cloudsoko/frust-ui.git
	branch = main
[submodule "frust-desk"]
	path = frust-desk
	url = https://github.com/cloudsoko/frust-desk.git
	branch = main
